workflow_n8n_example.json
{
  "name": "IA Leilão Imóveis - Automação Semanal",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "name": "Toda Segunda 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "id": "trigger-semanal"
    },
    {
      "parameters": {
        "command": "=cd {{$env.PROJETO_PATH}} && {{$env.PYTHON_PATH}} automation.py --estado GO --cidade 'RIO VERDE' --min-nota 7 --output automation_result_{{$now.format('YYYYMMDD_HHmmss')}}.json"
      },
      "name": "Executar Análise",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "exec-automation",
      "notes": "Executa script Python que faz scraping + análise IA"
    },
    {
      "parameters": {
        "jsCode": "// Extrai JSON da saída do script Python\nconst output = $input.item.json.stdout;\n\n// Procura pelos markers de JSON\nconst startMarker = '--- JSON OUTPUT START ---';\nconst endMarker = '--- JSON OUTPUT END ---';\n\nconst jsonStart = output.indexOf(startMarker);\nconst jsonEnd = output.indexOf(endMarker);\n\nif (jsonStart === -1 || jsonEnd === -1) {\n  throw new Error('Markers JSON não encontrados na saída');\n}\n\n// Extrai e parseia JSON\nconst jsonStr = output.substring(jsonStart + startMarker.length, jsonEnd).trim();\nconst result = JSON.parse(jsonStr);\n\n// Adiciona timestamp formatado\nresult.timestamp_formatado = new Date(result.timestamp).toLocaleString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nreturn result;"
      },
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "parse-json",
      "notes": "Extrai e parseia JSON da saída stdout"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.imoveis_aprovados}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Tem Imóveis Aprovados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "id": "check-imoveis"
    },
    {
      "parameters": {
        "jsCode": "// Gera HTML para email\nconst data = $input.item.json;\n\n// Função helper para cor da nota\nfunction getNotaClass(nota) {\n  if (nota >= 7) return 'nota-alta';\n  if (nota >= 5) return 'nota-media';\n  return 'nota-baixa';\n}\n\n// Função helper para emoji\nfunction getNotaEmoji(nota) {\n  if (nota >= 7) return '🟢';\n  if (nota >= 5) return '🟡';\n  return '🔴';\n}\n\n// Constrói HTML\nlet html = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      line-height: 1.6;\n      color: #333;\n      max-width: 800px;\n      margin: 0 auto;\n      background: #f4f4f4;\n    }\n    .container {\n      background: white;\n      margin: 20px;\n      border-radius: 10px;\n      overflow: hidden;\n      box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n    }\n    .header {\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n      padding: 30px;\n      text-align: center;\n    }\n    .header h1 {\n      margin: 0;\n      font-size: 28px;\n    }\n    .header p {\n      margin: 10px 0 0 0;\n      opacity: 0.9;\n    }\n    .summary {\n      padding: 20px 30px;\n      background: #f8f9fa;\n      border-bottom: 3px solid #667eea;\n    }\n    .summary h2 {\n      margin-top: 0;\n      color: #667eea;\n    }\n    .stats {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));\n      gap: 15px;\n      margin-top: 15px;\n    }\n    .stat-card {\n      background: white;\n      padding: 15px;\n      border-radius: 8px;\n      text-align: center;\n      box-shadow: 0 1px 3px rgba(0,0,0,0.1);\n    }\n    .stat-value {\n      font-size: 24px;\n      font-weight: bold;\n      color: #667eea;\n    }\n    .stat-label {\n      font-size: 12px;\n      color: #666;\n      margin-top: 5px;\n    }\n    .content {\n      padding: 30px;\n    }\n    .imovel {\n      border: 1px solid #e0e0e0;\n      border-radius: 10px;\n      padding: 20px;\n      margin-bottom: 20px;\n      background: white;\n      transition: box-shadow 0.3s;\n    }\n    .imovel:hover {\n      box-shadow: 0 4px 12px rgba(0,0,0,0.1);\n    }\n    .imovel-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 15px;\n      border-bottom: 2px solid #f0f0f0;\n      padding-bottom: 10px;\n    }\n    .imovel-titulo h3 {\n      margin: 0;\n      color: #333;\n      font-size: 20px;\n    }\n    .imovel-subtitulo {\n      color: #666;\n      font-size: 14px;\n      margin-top: 5px;\n    }\n    .nota-badge {\n      font-size: 36px;\n      font-weight: bold;\n      padding: 10px 20px;\n      border-radius: 10px;\n      display: flex;\n      align-items: center;\n      gap: 10px;\n    }\n    .nota-alta { color: #28a745; background: #d4edda; }\n    .nota-media { color: #ffc107; background: #fff3cd; }\n    .nota-baixa { color: #dc3545; background: #f8d7da; }\n    .imovel-info {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n      gap: 15px;\n      margin: 15px 0;\n    }\n    .info-item {\n      background: #f8f9fa;\n      padding: 10px;\n      border-radius: 5px;\n    }\n    .info-label {\n      font-size: 11px;\n      color: #666;\n      text-transform: uppercase;\n      margin-bottom: 5px;\n    }\n    .info-value {\n      font-size: 14px;\n      font-weight: bold;\n      color: #333;\n    }\n    .riscos {\n      background: #fff3cd;\n      border-left: 4px solid #ffc107;\n      padding: 15px;\n      margin: 15px 0;\n      border-radius: 5px;\n    }\n    .riscos h4 {\n      margin: 0 0 10px 0;\n      color: #856404;\n    }\n    .riscos ul {\n      margin: 0;\n      padding-left: 20px;\n    }\n    .riscos li {\n      margin: 5px 0;\n      color: #856404;\n    }\n    .proximos-passos {\n      background: #d4edda;\n      border-left: 4px solid #28a745;\n      padding: 15px;\n      margin: 15px 0;\n      border-radius: 5px;\n    }\n    .proximos-passos h4 {\n      margin: 0 0 10px 0;\n      color: #155724;\n    }\n    .proximos-passos ol {\n      margin: 0;\n      padding-left: 20px;\n    }\n    .proximos-passos li {\n      margin: 8px 0;\n      color: #155724;\n    }\n    .footer {\n      background: #f8f9fa;\n      padding: 20px;\n      text-align: center;\n      color: #666;\n      font-size: 12px;\n      border-top: 1px solid #e0e0e0;\n    }\n    .imovel-id {\n      font-family: monospace;\n      background: #f0f0f0;\n      padding: 2px 6px;\n      border-radius: 3px;\n      font-size: 11px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🏠 Novos Imóveis de Leilão Analisados</h1>\n      <p>${data.cidade} / ${data.estado}</p>\n      <p>${data.timestamp_formatado}</p>\n    </div>\n    \n    <div class=\"summary\">\n      <h2>📊 Resumo da Análise</h2>\n      <div class=\"stats\">\n        <div class=\"stat-card\">\n          <div class=\"stat-value\">${data.imoveis_encontrados}</div>\n          <div class=\"stat-label\">Imóveis Encontrados</div>\n        </div>\n        <div class=\"stat-card\">\n          <div class=\"stat-value\">${data.imoveis_analisados}</div>\n          <div class=\"stat-label\">Analisados</div>\n        </div>\n        <div class=\"stat-card\">\n          <div class=\"stat-value\">${data.imoveis_aprovados}</div>\n          <div class=\"stat-label\">Aprovados (≥${data.min_nota})</div>\n        </div>\n        <div class=\"stat-card\">\n          <div class=\"stat-value\">${data.resumo_executivo.melhor_nota.toFixed(1)}</div>\n          <div class=\"stat-label\">Melhor Nota</div>\n        </div>\n      </div>\n    </div>\n    \n    <div class=\"content\">\n      <h2>🏆 Top ${Math.min(5, data.top_imoveis.length)} Imóveis</h2>\n`;\n\n// Adiciona cada imóvel (top 5)\ndata.top_imoveis.slice(0, 5).forEach((imovel, index) => {\n  html += `\n      <div class=\"imovel\">\n        <div class=\"imovel-header\">\n          <div class=\"imovel-titulo\">\n            <h3>#${index + 1} ${imovel.condominio}</h3>\n            <div class=\"imovel-subtitulo\">\n              Apartamento ${imovel.apartamento} | ${imovel.comarca}\n            </div>\n          </div>\n          <div class=\"nota-badge ${getNotaClass(imovel.nota_final)}\">\n            ${getNotaEmoji(imovel.nota_final)} ${imovel.nota_final.toFixed(1)}\n          </div>\n        </div>\n        \n        <div class=\"imovel-info\">\n          <div class=\"info-item\">\n            <div class=\"info-label\">Quartos</div>\n            <div class=\"info-value\">${imovel.quartos}</div>\n          </div>\n          <div class=\"info-item\">\n            <div class=\"info-label\">Área Privativa</div>\n            <div class=\"info-value\">${imovel.area_privativa_m2} m²</div>\n          </div>\n          <div class=\"info-item\">\n            <div class=\"info-label\">Valor Mínimo</div>\n            <div class=\"info-value\">${imovel.valor_minimo}</div>\n          </div>\n          <div class=\"info-item\">\n            <div class=\"info-label\">Desconto</div>\n            <div class=\"info-value\">${imovel.desconto_percent}</div>\n          </div>\n        </div>\n        \n        <div class=\"riscos\">\n          <h4>⚠️ Riscos Identificados</h4>\n          <ul>\n`;\n  \n  imovel.riscos.forEach(risco => {\n    html += `            <li>${risco}</li>\\n`;\n  });\n  \n  html += `\n          </ul>\n        </div>\n        \n        <div class=\"proximos-passos\">\n          <h4>✅ Próximos Passos Recomendados</h4>\n          <ol>\n`;\n  \n  imovel.proximos_passos.forEach(passo => {\n    html += `            <li>${passo}</li>\\n`;\n  });\n  \n  html += `\n          </ol>\n        </div>\n        \n        <p style=\"text-align: right; margin: 10px 0 0 0;\">\n          <small><strong>ID:</strong> <span class=\"imovel-id\">${imovel.id}</span></small>\n        </p>\n      </div>\n`;\n});\n\nhtml += `\n    </div>\n    \n    <div class=\"footer\">\n      <p><strong>IA Leilão Imóveis</strong> | Análise automatizada com GPT-4o</p>\n      <p>Este relatório foi gerado automaticamente pelo sistema de IA</p>\n      <p>Projeto TE-251 ITA | Desenvolvido por Frog, 32 e Delay</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn { html };"
      },
      "name": "Gerar HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "id": "generate-html",
      "notes": "Cria HTML bonito para o email com top 5 imóveis"
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_USER}}",
        "toEmail": "={{$env.EMAIL_TO}}",
        "subject": "=🏠 {{$('Parse JSON').item.json.imoveis_aprovados}} Imóveis Aprovados em {{$('Parse JSON').item.json.cidade}}/{{$('Parse JSON').item.json.estado}}",
        "emailFormat": "html",
        "html": "={{$json.html}}",
        "options": {}
      },
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1340,
        200
      ],
      "id": "send-email",
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.log('Nenhum imóvel aprovado nesta análise');\nreturn {\n  message: 'Sem imóveis aprovados',\n  cidade: $input.item.json.cidade,\n  estado: $input.item.json.estado,\n  imoveis_analisados: $input.item.json.imoveis_analisados\n};"
      },
      "name": "Log - Sem Imóveis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ],
      "id": "log-empty",
      "notes": "Apenas registra que não houve imóveis aprovados"
    }
  ],
  "connections": {
    "Toda Segunda 8h": {
      "main": [
        [
          {
            "node": "Executar Análise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Análise": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Tem Imóveis Aprovados?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Imóveis Aprovados?": {
      "main": [
        [
          {
            "node": "Gerar HTML Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - Sem Imóveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar HTML Email": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-09T00:00:00.000Z",
  "versionId": "1"
}

